body {
  margin: 60px auto;
  width: 70%;
  background-color: #66CCF;
}
  
h1 {
  font-size: 3em;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  color:blue;
  margin: 0px;
}
p {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #333;
}
footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}
footer ul {
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
footer ul li {
  display: inline;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: red;
}
a:hover {
  text-decoration: underline;
}
ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}
ul.posts li {
  list-style: none;
}
#content {
padding: 10px;
}  
#header {
  background-color: #badeff;
  color: white;
  text-align: center;
}  
#container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#nav {
  width: 180px;
  float: left;
}
#main {
  float:right;
}
#footer {
  clear: both;
}
#nav ul{
  list-style-type: none;
  padding: 0px;
}
